<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <script type="text/javascript" src="./vue.min.js"></script>
    <script type="text/javascript" src="./jquery-1.11.3.min.js"></script>
    <style>
        .margintop {
            margin-top: 100px;
        }
        
        #table .center {
            text-align: center;
        }
        
        #table table tbody td input {
            width: 80px;
            border: none;
            outline: none;
        }
    </style>
</head>

<body>
    <div class="container margintop" id="table">
        <div class="col-md-3">
            <div class="form-group">
                <label>用户名：</label>
                <input type="text" class="form-control username" placeholder="请输入您的用户名">
            </div>
            <div class="form-group">
                <label>密码：</label>
                <input type="password" class="form-control password" placeholder="请输入您的密码">
            </div>
            <div class="form-group">
                <label>昵称：</label>
                <input type="text" class="form-control nickname" placeholder="请输入您的昵称">
            </div>
            <div class="form-group">
                <label>手机号码：</label>
                <input type="text" class="form-control mobile" placeholder="请输入您的手机号码">
            </div>
            <div class="form-group">
                <label>地址：</label>
                <input type="text" class="form-control location" placeholder="请输入您的地址">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" @click="add()">注册</button>
                <button class="btn btn-primary" @click="get()">获取数据</button>
            </div>
        </div>
        <div class="col-md-9">
            <table class="table table-bordered" id = "info">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>用户名</th>
                        <th>昵称</th>
                        <th>手机号码</th>
                        <th>地址</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(value, index) in msg">
                        <td><input type="text" v-model="msg[index].Id" readonly="readonly"></td>
                        <td><input type="text" v-model="msg[index].Username" readonly="readonly"></td>
                        <td><input type="text" v-model="msg[index].Nickname" readonly="readonly"></td>
                        <td><input type="text" v-model="msg[index].Mobile" readonly="readonly"></td>
                        <td><input type="text" v-model="msg[index].Location" readonly="readonly"></td>
                        <td class="center">
                            <a href="#" class="btn btn btn-danger" @click="del(index)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <label id="txtHint"></label>
        </div>
    </div>
</body>

</html>
<script>
    var v = new Vue({
        el: "#table",
        data: {
            msg: [],
            editflag: false
        },
        created: {
        },

        methods: {
            add: function() {
                var username = document.querySelector(".username").value; 
                var password = document.querySelector(".password").value;
                var nickname = document.querySelector(".nickname").value; 
                var mobile = document.querySelector(".mobile").value; 
                var location = document.querySelector(".location").value; 

                var obj = {
                    "Username" : username,
                    "Password" : password,
                    "Nickname" : nickname,
                    "Mobile" : mobile,
                    "Location" : location,
                }

                var url = 'http://localhost:8080/v1/user';
                var self = this;
                var req = new XMLHttpRequest();
                req.onreadystatechange = function() {
                    if (req.readyState=== 4) {
                        self.get();
                    }
                }
                req.open('POST', url, true);
                req.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                req.send(JSON.stringify(obj));
                
            },

            del: function(index) {
                var url = 'http://localhost:8080/v1/user/';
                var self = this;
                var req = new XMLHttpRequest();
                req.onreadystatechange = function() {
                    if (req.readyState=== 4) {
                        self.get();
                    }
                }
                var obj = this.msg[index];
                req.open('DELETE', url+obj.Id, true);
                req.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                req.send(JSON.stringify(obj));
            },

            get: function() {
                this.msg = [];
                var url = 'http://localhost:8080/v1/user';
                var req = new XMLHttpRequest();
                
                req.responseType = "json";
                var self = this;
                req.onreadystatechange = function() {
                    if (req.readyState=== 4) {
                        var responseHeaders = req.getAllResponseHeaders();
                        for (var i = 0; i < req.response.length; i++) {
                            var obj = req.response[i];
                            self.msg.push(obj);
                        }
                    }
                }
                req.open('GET', url, true);
                req.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                req.send(null);
            },

        }
});

    
</script>